<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <h2>Sign in</h2>
      <form role="form" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="rememberme" checked> Remember me
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="submitBtn">Sign in</button>
          <a href="/reg" class="btn btn-link">register</a>
        </div>
      </form>
      
    </div>
  </div>
</div>
<!-- <script src="/javascripts/login.js?b39a7ba5"></script> -->
<script>
(function(){
  var s = [
    'javascripts/login.js?b39a7ba5'
  ];
  loadCache(s);
})();
</script>