<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <h2>Register</h2>
      <form role="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Password Confirm</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password">
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary" data-loading-text="Register...">Register</button>
      </form>
    </div>
  </div>
</div>
<!-- <script src="/javascripts/reg.js?75778116"></script> -->
<script>
(function(){
  var s = [
    'javascripts/reg.js?75778116'
  ];
  loadCache(s);
})();
</script>
