body{
	padding-top: 70px;
	overflow-x: hidden;
	overflow-y: scroll;
	/*background: #dff0d8;*/
}

.placeholder{
	margin-bottom: 20px;
}
.top-tips{
	position: fixed;
	padding: 5px 15px;
	top: -32px;
	left: 0;
	z-index: 1111;
}
.progress-bar{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}
.remove,
.view-close{
	background: url(../images/remove.png) no-repeat;
}
.remove{
	background-size: 24px auto;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 8px;
	top: -8px;
	text-indent: -99999px;
	cursor: pointer;
}
.view-close{
	width: 48px;
	height: 48px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.file-upload-box{
	font-size: 24px;
	text-align: center;
	width: 100%;
	height: 50px;
	cursor: pointer;
	line-height: 36px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	border-radius: 0;
}
.file-upload-box input{
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.file-upload-box .glyphicon-folder-open{
	vertical-align: top;
	margin-top: 5px;
	margin-right: 10px;
}

#userMain{
	margin-top: -20px;
	padding-bottom: 50px;

}
.progress-cycle{
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 25px;
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 50px;
}

.view-img-box{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	text-align: center;
	z-index: 1500;
}
.view-img-box img{
	vertical-align: middle;
	display: inline-block;
	/*max-height: 100%;*/
	/*max-width: 100%;*/
}
.view-img-box i{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#scaleImg{
	max-width: 100%;
}
#singleFileUpload{
	display: none;
}
.u-btn-bar{
	position: absolute;
	width: 100px;
	height: 100%;
	left: 0;
	top: 0;
}
.u-btn-bar button{
	margin: 10px auto;
	width: 80px;
}
#singleUploadBtn{
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
	z-index: 101;
}
#singleUploadClose{
	position: absolute;
	top: 60px;
	left: 10px;
	margin: 0;
	z-index: 101;
}



